html, body {
	height: 100%;
}
body {
	font-family: 'proxima-nova', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: auto;
}
p, li, blockquote {
	color: #44464f;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.6;
}
p {
	margin-bottom: 1.5rem;
}
li {
	margin-bottom: .5rem;
}
img {
	max-width: 100%;
}
a {
	color: #3300FF;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
h1 {
	font-size: 2rem;
	font-weight: 600;
}
h2, h3, h4 {
	font-weight: 600;
	font-size: 1.675rem;
	line-height: 1.5;
	margin: 3rem 0 1.5rem 0;
}
ul, ol {
	margin: 1.5rem 0 1.5rem 3rem;
}

// footnotes
.footnotes {
	border-top: solid 1px #ccc;
	ul {
		list-style: none;
		margin: 1rem 0 0 0;
		li {
			font-size: 1rem;
		}
	}
}

// tables
th, td {
	text-align: left;
	padding: 1rem 0;
}
table {
	font-size: .875rem;
	width: 100%;
	overflow-x: auto;   /* Scrollbar is displayed as it's needed */
	word-wrap:break-word;
	caption {
		background: #000;
		color: #fff;
		font-weight: bold;
		padding: 1rem 0;
		text-align: center;
		text-transform: uppercase;
		.details {
			text-transform: none;
			margin-top: .5rem;
			display: block;
			font-size: .875rem;
			font-weight: 100;
		}
	}
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f6f7f8; 
}

// logo
.logo {
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 700;
	font-family: 'Yantramanav', sans-serif;
	img {
		display: inline-block;
		height: 25px;
		margin-right: .5rem;
		width: auto;
		vertical-align: bottom;
	}
	&:hover {
		text-decoration: none;
	}
}

// striped section
.stripe-section {
	padding: 3rem 0;
	background: #f5f7f8;
}

// external link icon
.external-link-icon {
	height: 12px;
	width: 12px;
	display: inline-block;
}

// figure
figure {
	max-width: 100%;
	margin: 0 auto 2.5rem auto;
	&.graphic {
		max-width: 720px;
	}
	figcaption {
		margin-top: .5rem;
		font-size: 1rem;
		color: #717584;
		line-height: 1.6;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	&.photo {
		&:first-of-type {
			margin: 0 0 40px 0;
		}
		margin: 40px 0;
	}
	iframe {
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
}

// dividers
.small-divider {
	display: block;
	margin: .5rem 0 0 0;
	width: 10%;
}
.diamond-divider {
	display: block;
	margin: 30px auto;
}
hr.style-eight { /* Glyph, by Harry Roberts */
    border: none;
    border-top: medium double #333;
    color: #333;
    margin: 40px 0 60px 0;
    padding: 0;
    &:after {
    	background: #FFF;
    	content: "§";
	    display: inline-block;
	    font-size: 1.5em;
	    padding: 0 0.25em;
	    position: relative; 
	    top: -0.7em;  
    }   
}

// image styling
.img-border {
	border: solid 1px #ccc;
}

// blockquote
blockquote {
	display: block;
	position: relative;
	font-size: 1.25rem;
	line-height: 1.6;
	padding: 2rem 0;
  	margin: 1.5em 0;
  	border-width: 2px 0;
	border-style: solid;
	border-color: #eee;
	p {
		font-size: 1rem;
	}
	citation {
		display: block;
		margin-top: 1rem;
		font-size: 1rem;
	}
	p, citation, citation a, li {
		letter-spacing: 1px;
	}
	&:before {
		content: '\201C';
		position: absolute;
		top: 0em;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		width: 3rem;
		height: 5rem;
		font-size: 5rem;
		text-align: center;
	}
}

// tweet feed
.tweet-feed {
	figure {
		margin: 0;
	}
}
.twitter-tweet {
	margin: 0;
}

// medium screen size up
@media (min-width: 600px ) {
	.logo {
		padding: 0;
		font-size: 1.5rem;
		img {
			height: 30px;
		}
	}
	p, li {
		font-size: 1.25rem;
	}
	h1 {
		font-size: 3.125rem;
	}
	h2 {
		font-size: 1.5rem;
		margin: 3rem 0 1.25rem 0;
	}
	h3 {
		font-size: 1.5rem;
	}
	figure {
		max-width: 45rem;
		iframe {
			width: 45rem;
		}
	}
	.full-figure {
		max-width: 100%;
	}
	.medium-figure {
		max-width: 80%;
	}
	.small-divider {
		margin-bottom: 3rem;
	}
}