.top-nav-desktop {
	padding: 1rem;
}
@media (min-width: 600px ) {
	.top-nav-desktop {
		padding: 1rem 2rem;
		margin: 0 auto 2rem auto;
		max-width: 1200px;
		ul {
			display: flex;
			margin-top: 0rem;
			float: right;
			li {
				display: inline-block;
				margin: 0 .5rem;
				a {
					font-size: 1rem;
					padding: 0;
					text-transform: uppercase;
				}
			}
		}
	}
	.header {
		display: block;
	}
}