<nav class="top-nav-desktop">
	<a href="{{ site.url }}" class="{% if page.url == '/index' %}current{% endif %} logo"> McKnightLabs</a>
	<ul class="nav">
		<li>
			<a href="{{ site.url }}/goals" class="{% if page.url == '/goals' %}current{% endif %}">Goals</a>
		</li>
		<li>
			<a href="{{ site.url }}/portfolio" class="{% if page.url == '/portfolio' %}current{% endif %}">Portfolio</a>
		</li>
		<li>
			<a href="{{ site.url }}/blog" class="{% if page.url == '/blog' %}current{% endif %}">Blog</a>
		</li>
		<li>
			<a href="{{ site.url }}/experiments" class="{% if page.url == '/experiment' %}current{% endif %}">Experiments</a>
		</li>
		<li>
			<a href="{{ site.url }}/photography">Photos</a>
		</li>
	</ul>
	<div id="myNav" class="overlay">
		<!-- Button to close the overlay navigation -->
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<!-- Overlay content -->
		<div class="overlay-content">
			<a href="{{ site.url }}/index" class="{% if page.url == '/index' %}current{% endif %}">Rethinking</a>
			<a href="{{ site.url }}/goals" class="{% if page.url == '/goals' %}current{% endif %}">Goals</a>
			<a href="{{ site.url }}/portfolio" class="{% if page.url == '/portfolio' %}current{% endif %}">Portfolio</a>
			<a href="{{ site.url }}/blog" class="{% if page.url == '/blog' %}current{% endif %}">Blog</a>
			<a href="{{ site.url }}/experiments" class="{% if page.url == '/experiment' %}current{% endif %}">Experiments</a>
			<a href="{{ site.url }}/photography">Photos</a>
		</div>
	</div>
	<span onclick="openNav()" class="mobile-menu-btn logo"><img src="{{ site.url }}/media/img/circles.png"> menu</span>
</nav>