<nav class="top-nav-desktop">
	<a href="{{ site.url }}" class="{% if page.url == '/index' %}current{% endif %}"><span class="site-logo site-logo-inside">RM</span></a>
	<ul class="nav">
		<li>
			<a href="{{ site.url }}/portfolio" class="{% if page.url == '/portfolio' %}current{% endif %}">Portfolio</a>
		</li>
		<li>
			<a href="{{ site.url }}/tech-design" class="{% if page.url == '/tech-design' %}current{% endif %}">Blog</a>
		</li>
		<li>
			<a href="{{ site.url }}/experiments" class="{% if page.url == '/experiment' %}current{% endif %}">Experiments</a>
		</li>
		<li>
			<a href="http://scarceart.com/" tooltip=http://scarceart.com tooltip here”>Photography</a>
		</li>
	</ul>
</nav>