<nav class="top-nav" id="top-nav">
	<ul class="nav">
		<li>
			<a href="{{ site.url }}/portfolio" class="{% if page.url == '/portfolio' %}current{% endif %} menu-link">Portfolio</a>
		</li>
		<li>
			<a href="{{ site.url }}/tech-design" class="{% if page.url == '/tech-design' %}current{% endif %} menu-link">Blog</a>
		</li>
		<li>
			<a href="{{ site.url }}/experiments" class="{% if page.url == '/experiment' %}current{% endif %} menu-link">Experiments</a>
		</li>
		<li>
			<a href="http://scarceart.com/" class="menu-link">Photography</a>
		</li>
	</ul>
</nav>